$button-text-color: $color-black;
$button-focus-color: $color-black;
$button-hover-color: $color-black;
$button-active-color: $color-black;
$button-disable-color: $color-black;

:module(Button) { //TODO Safari 9.0 reset fallback
  background-color: initial;
  border: initial;
  box-shadow: initial;
  outline: initial;
  padding: initial;
  text-decoration: initial;
  user-select: initial;
}

:module(Button) { //TODO Edge 13 reset fallback
  appearance: unset;
  font-family: unset;
}

:module(Button) {
  all: unset;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-small;
  height: size(3);
  line-height: size(3);
  transition: color $animated;
  vertical-align: middle;

  @include state(Focus) {
    color: $button-focus-color;
  }

  @include state(Hover) {
    color: $button-hover-color;
  }

  @include state(Active) {
    padding-top: $thin;
    color: $button-active-color;
  }

  @include state(Disabled) {
    padding-top: unset;
    color: $button-disable-color;
  }
}
