:model(Margins) {
  :which(One-x):which(Two-x),
  :which(Four-x):which(Five-x),
  :which(Seven-x):which(Eight-x),
  :which(Ten-x):which(Eleven-x),
  :which(One):which(Two),
  :which(Four):which(Five),
  :which(Seven):which(Eight),
  :which(Ten):which(Eleven) {
    /**/
    /* Bug    :  Modifiers do the same thing
    /**/
    @include bug;
    content: "Modifiers do the same thing";
  }

  :which(Twelve-x):which(Three-x),
  :which(Three-x):which(Six-x),
  :which(Six-x):which(Nine-x),
  :which(Nine-x):which(Twelve-x),
  :which(Twelve):which(Three),
  :which(Three):which(Six),
  :which(Six):which(Nine),
  :which(Nine):which(Twelve) {
    /**/
    /* Bug    :  Please use the intermediate values, it is shorter
    /**/
    @include bug;
    content: "Please use the intermediate values";
  }

  :which(Twelve-x):which(Six-x),
  :which(Twelve):which(Six) {
    /**/
    /* Bug    :  Please write less code, use the modifier `vertical`
    /**/
    @include bug;
    content: "Please use the `vertical` modifier";
  }

  :which(Three-x):which(Nine-x),
  :which(Three):which(Nine) {
    /**/
    /* Bug    :  Please write less code, use the modifier `horizontal`
    /**/
    @include bug;
    content: "Please use the `horizontal` modifier";
  }

  :which(Twelve-x):which(Three-x):which(Six-x):which(Nine-x),
  :which(Twelve):which(Three):which(Six):which(Nine),
  :which(Vertical-x):which(Horizontal-x),
  :which(Vertical):which(Horizontal),
  :which(One-x):which(Seven-x),
  :which(One):which(Seven),
  :which(One-x):which(Eight-x),
  :which(One):which(Eight),
  :which(Two-x):which(Seven-x),
  :which(Two):which(Seven),
  :which(Two-x):which(Eight-x),
  :which(Two):which(Eight),
  :which(Three-x):which(Ten-x),
  :which(Three):which(Ten),
  :which(Three-x):which(Eleven-x),
  :which(Three):which(Eleven),
  :which(Four-x):which(Ten-x),
  :which(Four):which(Ten),
  :which(Four-x):which(Eleven-x),
  :which(Four):which(Eleven) {
    /**/
    /* Bug    :  Please write less code, use the modifier `on`
    /**/
    @include bug;
    content: "Please use the `on` modifier";
  }
}
