:model(Margins) {

  :which(On),
  :which(Vertical),
  :which(Twelve),
  :which(One),
  :which(Two),
  :which(Ten),
  :which(Eleven) {
    padding-top: size();
  }

  :which(On-x),
  :which(Vertical-x),
  :which(Twelve-x),
  :which(One-x),
  :which(Two-x),
  :which(Ten-x),
  :which(Eleven-x) {
    padding-top: size(2);
  }

  :which(On),
  :which(Horizontal),
  :which(Three),
  :which(One),
  :which(Two),
  :which(Four),
  :which(Five) {
    padding-right: size();
  }

  :which(On-x),
  :which(Horizontal-x),
  :which(Three-x),
  :which(One-x),
  :which(Two-x),
  :which(Four-x),
  :which(Five-x) {
    padding-right: size(2);
  }

  :which(On),
  :which(Vertical),
  :which(Six),
  :which(Four),
  :which(Five),
  :which(Seven),
  :which(Eight) {
    padding-bottom: size();
  }

  :which(On-x),
  :which(Vertical-x),
  :which(Six-x),
  :which(Four-x),
  :which(Five-x),
  :which(Seven-x),
  :which(Eight-x) {
    padding-bottom: size(2);
  }

  :which(On),
  :which(Horizontal),
  :which(Nine),
  :which(Seven),
  :which(Eight),
  :which(Ten),
  :which(Eleven) {
    padding-left: size();
  }

  :which(On-x),
  :which(Horizontal-x),
  :which(Nine-x),
  :which(Seven-x),
  :which(Eight-x),
  :which(Ten-x),
  :which(Eleven-x) {
    padding-left: size(2);
  }
}

@if (map-get($m, debug)) { @import "debug"; }
