:model(gRouP) {
  border-color: inherit;
  display: flex;
  overflow: hidden;

  &:is(Collapse) :has(Chunk) + :has(Chunk) {
    border-left: none;
  }

  &:not(:is(Collapse)) :has(Chunk) + :has(Chunk) {
    border-left: thin solid;
    border-left-color: inherit;
  }

  :has(Chunk) {
    height: size(3);
    line-height: size(3);
    text-decoration: initial;

    &:not(:last-child) > [class] {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:first-child) > [class] {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:is(Spacer) {
      flex-grow: 1;
    }
  }
}
