$card-background: $bg-default !default;
$card-border-color: $border-muted !default;
$card-border-active-color: $border-default !default;
$card-shadow-color: $shadow-default !default;

:model(Card) {
  @include stroke($card-border-color);
  @include radius;
  background-color: $card-background;
  border-color: $card-border-color;
  display: block;

  :has(Body) {
    margin: $thin;
    border-top: $thin solid;
    border-color: inherit;
    transition: border $animated;
  }

  &:which(Shadow) {
    @include stroke($card-border-color, $shadow: $card-shadow-color);
  }

  &:which(Hover) {
    transition: box-shadow $animated;

    &:hover {
      @include stroke($card-border-active-color);
      border-color: $card-border-active-color;
    }

    &:which(Shadow) {
      @include stroke($card-border-color, $shadow: $card-shadow-color);

      &:hover {
        @include stroke($card-border-active-color, $shadow: $card-shadow-color);
      }
    }
  }
}
