$card-background: $bg-default !default;
$card-border-color: $border-muted !default;
$card-border-active-color: $border-default !default;
$card-shadow-color: $shadow-default !default;

:model(Card) {
  @include radius;
  background-color: $card-background;
  border-color: $card-border-color;
  border-style: solid;
  border-width: $thin;
  display: block;

  :has(Body) {
    border-bottom: inherit;
    border-top: inherit;
    transition: border $animated;

    + :has(Body) {
      border-top: initial;
    }

    &:first-child {
      border-top: initial;
      top: initial;
    }

    &:last-child {
      border-bottom: initial;
    }
  }

  &:which(Shadow) {
    @include stroke($shadow: $card-shadow-color);
  }

  &:which(Hover) {
    transition: box-shadow $animated, border-color $animated;

    &:hover {
      border-color: $card-border-active-color;
    }
  }
}
