$button-text-color: text-color($text-default) !default;
$button-focus-color: text-color($text-focused) !default;
$button-hover-color: text-color($text-hovered) !default;
$button-active-color: text-color($text-activated) !default;
$button-disabled-color: text-color($text-disabled) !default;

:module(ButToN) { //TODO Safari 9.0 reset fallback
  background-color: initial;
  border: initial;
  box-shadow: initial;
  margin: initial;
  outline: initial;
  padding: initial;
  text-decoration: initial;
  user-select: initial;
}

:module(ButToN) { //TODO Edge 13 reset fallback
  appearance: unset;
  font-family: unset;
}

:module(ButToN) {
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-small;
  height: size(3);
  line-height: size(3);
  transition: color $animated;
  vertical-align: middle;

  @each $state in $states-order {
    @if $state == Focus {
      @include state($state) {
        color: $button-focus-color;
      }
    }
    @elseif $state == Hover {
      @include state($state) {
        color: $button-hover-color;
      }
    }
    @elseif $state == Active {
      @include state($state) {
        padding-top: $thin;
        color: $button-active-color;
      }
    }
    @elseif $state == Invalid {
      @include state($state) {}
    }
    @elseif $state == Disabled {
      @include state($state) {
        padding-top: unset;
        pointer-events: none;
        color: $button-disabled-color;
      }
    }
  }
}

@if (map-get($m, debug)) { @import "debug"; }
