$text-field-default-text: text-color($text-riched) !default;
$text-field-disabled-color: text-color($text-disabled) !default;
$text-field-placeholder-color: text-color($text-muted) !default;

:model(Text-field) {
  //Reason: including vendor prefixes
  // scss-lint:disable PropertySortOrder
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-fill-color: currentColor;
  appearance: initial;
  background-color: initial;
  border: initial;
  box-shadow: initial;
  color: $text-field-default-text;
  cursor: text;
  font-family: inherit;
  font-size: $font-size-small;
  height: size(3);
  line-height: size(3);
  margin: initial;
  outline: initial;
  padding: initial;
  text-decoration: initial;
  text-rendering: optimizelegibility;
  transition: color $animated;
  vertical-align: middle;

  &::placeholder {
    -webkit-text-fill-color: currentColor;
    color: $text-field-placeholder-color;
    opacity: 1;
  }

  &:is(Multiline) {
    line-height: size(2);
    padding-top: size(0.5);
  }

  @each $state in $states-order {
    @if $state == Disabled {
      @include state($state) {
        color: $text-field-disabled-color;
        pointer-events: none;
      }
    }
  }
}

@if (map-get($m, debug)) { @import "debug"; }
