$text-field-disabled-color: text-color($text-disabled) !default;
$text-field-placeholder-opacity: 0.8 !default;

:model(Text-field) {
  appearance: initial;
  background-color: initial;
  border: initial;
  box-shadow: initial;
  font-family: inherit;
  margin: initial;
  outline: initial;
  padding: initial;
  text-decoration: initial;
}

:model(Text-field) {
  -webkit-text-fill-color: currentColor;
  cursor: text;
  font-size: $font-size-small;
  height: size(3);
  line-height: size(3);
  text-rendering: optimizelegibility;
  transition: color $animated;
  vertical-align: middle;

  @include placeholder {
    color: currentColor;
    opacity: $text-field-placeholder-opacity;
  }

  &:which(Multiline) {
    padding-top: size(0.5);
    line-height: size(2);
  }

  @each $state in $states-order {
    @if $state == Disabled {
      @include state($state) {
        color: $text-field-disabled-color;
        pointer-events: none;
      }
    }
  }
}

@if (map-get($m, debug)) { @import "debug"; }
