:module(Y-Rhythm) {

  :modifier(Show):before {
    $shadow: ();
    @for $i from 0 to 100 {
      $shadow: append($shadow, "0 #{$line-step * 2 * $i - 10} 0 0 rgba(122, 93, 197, 0.2)", comma);
      $shadow: append($shadow, "0 #{$line-step * 2 * $i} 0 0 rgba(197, 93, 122, 0.2)", comma);
    }
    box-shadow: #{$shadow};
    height: $thin;
    left: 0;
    position: absolute;
    top: -$thin;
    width: 100%;
    z-index: $z-alerts;
  }

  :component(Item):not(:empty) {
    /**/
    /* Bug    :  Item should be empty
    /**/
    @extend %bug;
    content: "Item should be empty";
  }

  :component(Item) + :component(Item),
  :component(Item) + :component(Item-x),
  :component(Item-x) + :component(Item),
  :component(Item-x) + :component(Item-x) {
    /**/
    /* Bug    :  Items does not stack
    /**/
    @extend %bug;
    content: "Items does not stack";
  }
}
