input:model(Text-field) {

  &:which(Disabled):not([disabled]):not([tabindex]) {
    /**/
    /* Bug :  modifier Disabled should be used with attribute `tabindex` with value `-1`
    /**/
    @include bug;
    content: "modifier Disabled should be used with attribute `tabindex` with value `-1`";
  }
}

:not(input):model(Text-field) {

  &:not(:which(Disabled)):not([disabled]):not([tabindex]) {
    /**/
    /* Bug :  model should have attribute `tabindex` like `0` to receive focus
    /**/
    @include bug;
    content: "model should have attribute `tabindex` like `0` to receive focus";
  }
}
