$text-field-text-color: text-color($text-default) !default;
$text-field-focus-color: text-color($text-focused) !default;
$text-field-hover-color: text-color($text-hovered) !default;
$text-field-active-color: text-color($text-activated) !default;
$text-field-invalid-color: text-color($text-invalid) !default;
$text-field-disabled-color: text-color($text-disabled) !default;
$text-field-placeholder-opacity: 0.8 !default;

:model(Text-field) {
  appearance: initial;
  background-color: initial;
  border: initial;
  box-shadow: initial;
  font-family: inherit;
  margin: initial;
  outline: initial;
  padding: initial;
  text-decoration: initial;
}

:model(Text-field) {
  -webkit-text-fill-color: currentColor;
  color: $text-field-text-color;
  cursor: text;
  font-size: $font-size-small;
  height: size(3);
  line-height: size(3);
  overflow: hidden;
  text-rendering: optimizelegibility;
  transition: color $animated;
  vertical-align: middle;

  @include placeholder {
    color: currentColor;
    opacity: $text-field-placeholder-opacity;
  }

  @each $state in $states-order {
    @if $state == Disabled {
      @include state($state) {
        color: $text-field-disabled-color;
        pointer-events: none;

        @include placeholder {
          color: transparent;
        }
      }
    }
  }
}

@if (map-get($m, debug)) { @import "debug"; }
