/* Material Design Colors
//===============================================
$gamma: (
    white:  (0: #FFFFFF),
    slate:  (4: #CFD8DC, 3: #B0BEC5, 2: #90A4AE, 1: #78909C, 0: #607D8B, -1: #546E7A, -2: #455A64, -3: #37474F),
    black:  (0: #000000),
    red:    (4: #FFCDD2, 3: #EF9A9A, 2: #E57373, 1: #EF5350, 0: #F44336, -1: #E53935, -2: #D32F2F, -3: #C62828),
    orange: (4: #FFE0B2, 3: #FFCC80, 2: #FFB74D, 1: #FFA726, 0: #FF9800, -1: #FB8C00, -2: #F57C00, -3: #EF6C00),
    yellow: (4: #FFF9C4, 3: #FFF59D, 2: #FFF176, 1: #FFEE58, 0: #FFEB3B, -1: #FDD835, -2: #FBC02D, -3: #F9A825),
    green:  (4: #C8E6C9, 3: #A5D6A7, 2: #81C784, 1: #66BB6A, 0: #4CAF50, -1: #43A047, -2: #388E3C, -3: #2E7D32),
    blue:   (4: #BBDEFB, 3: #90CAF9, 2: #64B5F6, 1: #42A5F5, 0: #2196F3, -1: #1E88E5, -2: #1976D2, -3: #1565C0),
    purple: (4: #E1BEE7, 3: #CE93D8, 2: #BA68C8, 1: #AB47BC, 0: #9C27B0, -1: #8E24AA, -2: #7B1FA2, -3: #6A1B9A),
    pink:   (4: #F8BBD0, 3: #F48FB1, 2: #F06292, 1: #EC407A, 0: #E91E63, -1: #D81B60, -2: #C2185B, -3: #AD1457),
);
*/

$gamma: (
  white:  (0: #ffffff),
  slate:  (4: #f2f9ff, 3: #d1e0f0, 2: #8fa6bf, 1: #7d96b3, 0: #556980, -1: #404f61, -2: #333f4d, -3: #2b3540),
  black:  (0: #000000),
  red:    (4: #fff7f9, 3: #ffc8bf, 2: #ff9080, 1: #ff7a66, 0: #e6543e, -1: #ab3a29, -2: #732f25, -3: #57241c),
  orange: (4: #fff9f2, 3: #ffd0b2, 2: #ffa166, 1: #ff914d, 0: #fc8032, -1: #994f22, -2: #662b00, -3: #4d2000),
  yellow: (4: #fcfbeb, 3: #ffebb2, 2: #ffd257, 1: #ffc21a, 0: #e4a600, -1: #8c5600, -2: #593700, -3: #402700),
  green:  (4: #edfff1, 3: #b1e6b2, 2: #6dc770, 1: #4bae50, 0: #269941, -1: #165926, -2: #10401b, -3: #0a2610),
  blue:   (4: #edfcff, 3: #b3daf5, 2: #59b4ff, 1: #459de6, 0: #177ed5, -1: #1466b3, -2: #003d73, -3: #00294d),
  purple: (4: #f7f9ff, 3: #ddccff, 2: #bca6ff, 1: #8b4dff, 0: #7e00ff, -1: #471f99, -2: #400080, -3: #330066),
  pink:   (4: #fff5ff, 3: #ffccfc, 2: #fd99ff, 1: #fc66ff, 0: #fc23ff, -1: #971599, -2: #650e66, -3: #4b0b4d),
) !default;

$text-article:     color(white) color(slate) !default;
$text-riched:      color(white) color(slate, -1) !default;
$text-default:     color(white) color(slate, 1) !default;
$text-muted:       color(slate, 3) color(slate, 2) !default;
$text-disabled:    color(slate, 3) color(slate, 2) !default;
$text-selected:    color(blue, 2) color(blue) !default;
$text-hovered:     color(blue, 2) color(blue) !default;
$text-activated:   color(blue, 1) color(blue, 1) !default;
$text-info:        color(white) color(blue) !default;
$text-warning:     color(white) color(yellow) !default;
$text-success:     color(white) color(green) !default;
$text-error:       color(white) color(red) !default;
$text-invalid:     color(red, 3) color(red) !default;
$text-focused:     color(yellow, 3) color(yellow)  !default;
$bg-riched:        color(blue) !default;
$bg-default:       color(white) !default;
$bg-muted:         color(slate, 4) !default;
$bg-disabled:      color(slate, 4) !default;
$bg-selected:      color(white) !default;
$bg-hovered:       color(slate, 3) !default;
$bg-activated:     color(white) !default;
$bg-info:          color(blue) !default;
$bg-warning:       color(yellow, 2) !default;
$bg-success:       color(green) !default;
$bg-error:         color(red) !default;
$bg-invalid:       color(red, 4) !default;
$bg-focused:       color(yellow, 4) !default;
$border-riched:    color(blue, -1) !default;
$border-default:   color(slate, 2) !default;
$border-muted:     color(slate, 3) !default;
$border-disabled:  color(slate, 3) !default;
$border-selected:  color(slate) !default;
$border-hovered:   color(slate) !default;
$border-activated: color(slate) !default;
$border-info:      color(blue) !default;
$border-warning:   color(yellow) !default;
$border-success:   color(green) !default;
$border-error:     color(red) !default;
$border-invalid:   color(red) !default;
$border-focused:   color(yellow) !default;
$shadow-riched:    color(slate, 2) !default;
$shadow-default:   color(slate, 3) !default;
$shadow-muted:     color(slate, 4) !default;
$shadow-disabled:  color(slate, 4) !default;
$shadow-selected:  color(slate, 2) !default;
$shadow-hovered:   color(slate, 3) !default;
$shadow-activated: color(slate, 2) !default;
$shadow-info:      color(blue, 3) !default;
$shadow-warning:   color(yellow, 3) !default;
$shadow-success:   color(green, 3) !default;
$shadow-error:     color(red, 3) !default;
$shadow-invalid:   color(red, 3) !default;
$shadow-focused:   color(yellow, 3) !default;
$blink-riched:     color(blue, 1) !default;
$blink-default:    color(slate, 3) !default;
$blink-muted:      color(slate, 4) !default;
$blink-disabled:   color(slate, 4) !default;
$blink-selected:   color(slate, 2) !default;
$blink-hovered:    color(slate, 3) !default;
$blink-activated:  color(slate, 2) !default;
$blink-info:       color(blue, 3) !default;
$blink-warning:    color(yellow, 3) !default;
$blink-success:    color(green, 3) !default;
$blink-error:      color(red, 3) !default;
$blink-invalid:    color(red, 3) !default;
$blink-focused:    color(yellow, 3) !default;
$underline-riched:    color(blue, -1) !default;
$underline-default:   color(slate, 2) !default;
$underline-muted:     color(slate, 3) !default;
$underline-disabled:  color(slate, 3) !default;
$underline-selected:  color(slate) !default;
$underline-hovered:   color(slate) !default;
$underline-activated: color(slate) !default;
$underline-info:      color(blue) !default;
$underline-warning:   color(yellow) !default;
$underline-success:   color(green) !default;
$underline-error:     color(red) !default;
$underline-invalid:   color(red) !default;
$underline-focused:   color(yellow, 1) !default;
