// Basic
$thin                      : 1px !default;
$line-step                 : 10px !default;

// Animation
$animation-time            : 250ms !default;
$animation-type            : ease-out !default;
$no-animated               : $animation-time step-end !default;
$animated                  : $animation-time $animation-type !default;

// Layer
$z-local                   : 50 !default;
$z-dropdown                : 500 !default;
$z-overlay                 : 1000 !default;
$z-popover                 : 2000 !default;
$z-alerts                  : 3000 !default;

// Fonts list
$font-family               : Helvetica, arial, sans-serif !default;
$font-family-mono          : Menlo, Courier, monospace !default;
$font-size-tiny            : $line-step * 1.1 !default;
$font-size-small           : $line-step * 1.3 !default;
$font-size-normal          : $line-step * 1.5 !default;

// Basic colors
$color-default             : #878889;
$color-white               : lighten($color-default, 50);
$color-black               : darken($color-default, 50);
$color-red                 : #e05e49 !default;
$color-green               : #53a065 !default;
$color-blue                : #00abf0 !default;
$color-diff                : 6 !default;

// Functions and Mixins defaults
$f-stroke-border-color     : $color-black !default;
$f-stroke-blink-color      : $color-white !default;
$f-stroke-shadow-opacity   : 0.7 !default;
$f-stroke-shadow-size      : $line-step * 0.4 !default;
$m-radius-radius           : $line-step * 0.3 !default;
