// Basic
$thin                      : 1px !default;
$line-step                 : 10px !default;
$states-order              : Invalid Focus Hover Active Disabled !default;
$fa-font-path              : "node_modules/font-awesome/fonts" !default;

// Animation
$animation-time            : 150ms !default;
$animation-type            : ease-out !default;
$no-animated               : $animation-time step-end !default;
$animated                  : $animation-time $animation-type !default;

// Layer
$z-local                   : 50 !default;
$z-dropdown                : 500 !default;
$z-overlay                 : 1000 !default;
$z-popover                 : 2000 !default;
$z-alerts                  : 3000 !default;

// Fonts list
$font-family               : Helvetica, arial, sans-serif !default;
$font-family-mono          : Menlo, Courier, monospace !default;
$font-size-tiny            : $line-step * 1.1 !default;
$font-size-small           : $line-step * 1.3 !default;
$font-size-normal          : $line-step * 1.5 !default;

// Basic colors
@import "colors";

// Functions and Mixins defaults
$f-stroke-shadow-size      : $line-step * 0.4 !default;
$m-radius-radius           : $line-step * 0.3 !default;
