:model(Block) {

  :has(Rhythm):before {
    $shadow: ();
    @for $i from 0 to 200 {
      $shadow: append($shadow, "0 #{$line-step * 2 * $i - 10} 0 0 rgba(122, 93, 197, 0.2)", comma);
      $shadow: append($shadow, "0 #{$line-step * 2 * $i} 0 0 rgba(197, 93, 122, 0.2)", comma);
    }
    box-shadow: #{$shadow};
    content: "Rhythm grid:";
    height: $thin;
    left: 0;
    position: absolute;
    top: -$thin;
    width: 100%;
    z-index: $z-alerts;
  }

  :has(Indent):not(:empty) {
    /**/
    /* Bug    :  Item should be empty
    /**/
    @include bug;
    content: "Block-indent should be empty";
  }

  :has(Indent) + :has(Indent),
  :has(Indent) + :has(Indent-x),
  :has(Indent-x) + :has(Indent),
  :has(Indent-x) + :has(Indent-x) {
    /**/
    /* Bug    :  Items does not stack
    /**/
    @include bug;
    content: "Block-indent does not stack";
  }

  :has(Footer):which(Indented),
  :has(Footer):which(Indented-x) {
    /**/
    /* Bug    :  Footer should be pressed to the previous block
    /**/
    @include bug;
    content: "Footer should be pressed to the previous block";
  }
}
