@if map-has-key($models, all) or map-has-key($models, core) or map-has-key($models, block) {

  :model(Block) {

    :is(slate) { background-color: color(slate); }

    :is(red) { background-color: color(red); }

    :is(orange) { background-color: color(orange); }

    :is(yellow) { background-color: color(yellow); }

    :is(green) { background-color: color(green); }

    :is(blue) { background-color: color(blue); }

    :is(purple) { background-color: color(purple); }

    :is(pink) { background-color: color(pink); }

    :is(riched) { background-color: $bg-riched; }

    :is(muted) { background-color: $bg-muted; }

    :is(info) { background-color: $bg-info; }

    :is(warning) { background-color: $bg-warning; }

    :is(success) { background-color: $bg-success; }

    :is(error) { background-color: $bg-error; }

    :is(Wide) {
      display: inline-block;
      width: 100%;
    }

    :is(Overflow) {
      height: size(7);
      max-height: size(80);
      min-height: size(4); //TODO https://code.google.com/p/chromium/issues/detail?id=94583
      overflow: hidden;
      resize: vertical;

      &:hover:focus {
        overflow-y: auto;
      }
    }

    :is(Header) {
      @include radius(bottom, 0);
      @include radius(top);
      position: relative;
      z-index: $z-local;
    }

    :is(Footer) {
      @include radius(bottom);
      @include radius(top, 0);
      position: relative;
      top: -$thin;

      &:hover {
        z-index: $z-local + 1;
      }
    }

    :is(Indented) {
      margin-top: size();
    }

    :is(Indented-x) {
      margin-top: size(2);
    }

    :has(Indent) {
      display: block;
      height: size();
    }

    :has(Indent-x) {
      display: block;
      height: size(2);
    }
  }

  [class] {
    box-sizing: border-box;
  }

  [tabindex] {
    outline: initial;
  }

  a {
    color: inherit;
  }

  button:-moz-focusring,
  input:-moz-focusring {
    outline: none;
  }
}

@import "debug";
