@if map-has-key($models, all) or map-has-key($models, basic) or map-has-key($models, icon) {
  $fa-css-prefix: "i"; //TODO Refactor NSBuild-relation after https://github.com/FortAwesome/Font-Awesome/pull/6020/files

  :model(Icon) {
    //Reason: including vendor prefixes
    // scss-lint:disable PropertySortOrder
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font: normal normal normal $font-size-normal FontAwesome; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    line-height: inherit;
    text-transform: none;
    text-rendering: auto; // optimizelegibility throws things off #1094

    &:is(2x) { font-size: 2 * $font-size-tiny; }

    &:is(3x) { font-size: 3 * $font-size-tiny; }

    &:is(4x) { font-size: 4 * $font-size-tiny; }

    &:is(5x) { font-size: 5 * $font-size-tiny; }

    &:is(spin) { animation: spin $animation-time * 8 infinite linear; }

    &:is(stable) { width: 1.4em; }

    &:is(pulse) { animation: spin $animation-time * 8 infinite steps(9); }

    &:is(inverse) { filter: invert(100%); }

    &:is(rotate-90) { transform: rotate(90deg); }

    &:is(rotate-180) { transform: rotate(180deg); }

    &:is(rotate-270) { transform: rotate(270deg); }

    &:is(h-flip) { transform: scale(-1, 1); }

    &:is(v-flip) { transform: scale(1, -1); }
  }
}

//TODO Delete this dependencies
@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/path";
