$group-separator-color: $border-default !default;

:module(gRouP) {
  display: flex;

  :component(Chunk) {
    height: size(3);
    line-height: size(3);
    overflow: hidden;

    &:not(:last-child) > [class] {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:first-child) > [class] {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    + :component(Chunk) {
      border-left: thin solid $group-separator-color;
    }

    &:modifier(Spacer) {
      flex-grow: 1;
    }
  }
}
