$text-default-color: $color-black !default;

:module(Text) {
  color: $text-default-color;
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: size(2);

  :component(Header) {
    font-size: 2 * $font-size-tiny;
    line-height: size(3);
  }

  :modifier(Small) {
    font-size: $font-size-tiny;
    line-height: size(2);
  }

  :modifier(Medium) {
    font-size: $font-size-small;
    line-height: size(2);
  }

  :modifier(Large) {
    font-size: $font-size-normal;
    line-height: size(2);
  }

  :modifier(Plain) {
    white-space: pre;
    font-family: $font-family-mono;
    overflow: auto;
  }

  :modifier(Crop) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :modifier(Right) { text-align: right; }

  :modifier(Left) { text-align: left; }

  :modifier(Center) { text-align: center; }

  :modifier(Bold) { font-weight: bold; }

  :modifier(Italic) { font-style: italic; }

  :modifier(black) { color: $color-black; }

  :modifier(white) { color: $color-white; }

  :modifier(red) { color: $color-red; }

  :modifier(green) { color: $color-green; }

  :modifier(blue) { color: $color-blue; }
}
