:module(Text) {
  color: text-color($text-article);
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: size(2);

  :component(Header) {
    font-size: 2 * $font-size-tiny;
    line-height: size(3);
  }

  :modifier(Small) {
    font-size: $font-size-tiny;
  }

  :modifier(Medium) {
    font-size: $font-size-small;
  }

  :modifier(Large) {
    font-size: $font-size-normal;
  }

  :modifier(Plain) {
    white-space: pre;
    font-family: $font-family-mono;
    overflow: auto;
  }

  :modifier(Crop) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :modifier(Right) {
    text-align: right;
  }

  :modifier(Left) {
    text-align: left;
  }

  :modifier(Center) {
    text-align: center;
  }

  :modifier(Bold) {
    font-weight: bold;
  }

  :modifier(Italic) {
    font-style: italic;
  }
}
