$layout-background-color            : $bg-default !default;
$layout-min-size                    : size(120) !default;
$layout-overlay-color               : color(black) !default;
$layout-overlay-transparency        : 0.4 !default;
$layout-container-background-color  : $bg-muted !default;
$layout-container-border-color      : "" !default;
$layout-container-edge-margin       : size(3) !default;
$layout-container-side-margin       : size(3) !default;

:module(Layout) {
  background-color: $layout-background-color;
  height: 100%;
  min-width: $layout-min-size;

  :component(Container) {
    display: block;
    padding-left: $layout-container-side-margin;
    padding-right: $layout-container-side-margin;

    &:modifier(Painted) {
      @include stroke(bottom $layout-container-border-color);
      background-color: $layout-container-background-color;
    }

    &:not(:modifier(Painted)) + :modifier(Painted),
    &:not(:modifier(Painted)) + * :modifier(Painted) {
      @include stroke(bottom top $layout-container-border-color);
    }

    &:modifier(Margined) {
      padding-bottom: $layout-container-edge-margin;
      padding-top: $layout-container-edge-margin;
    }
  }

  :component(Overlay) {
    background-color: rgba($layout-overlay-color, $layout-overlay-transparency);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $z-overlay;
  }
}
