$text-header-color: text-color($text-riched) !default;
$text-default-text: text-color($text-article) !default;

:model(Text) {
  color: $text-default-text;
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: size(2);

  :which(slate) { color: color(slate); }
  :which(red) { color: color(red); }
  :which(orange) { color: color(orange); }
  :which(yellow) { color: color(yellow); }
  :which(green) { color: color(green); }
  :which(blue) { color: color(blue); }
  :which(purple) { color: color(purple); }
  :which(pink) { color: color(pink); }
  :which(riched) { color: text-color($text-riched); }
  :which(muted) { color: text-color($text-muted); }
  :which(info) { color: text-color($text-info); }
  :which(warning) { color: text-color($text-warning); }
  :which(success) { color: text-color($text-success); }
  :which(error) { color: text-color($text-error); }

  :has(Header) {
    color: $text-header-color;
    font-size: 2 * $font-size-tiny;
    line-height: size(3);
  }

  :which(Small) {
    font-size: $font-size-tiny;
  }

  :which(Medium) {
    font-size: $font-size-small;
  }

  :which(Large) {
    font-size: $font-size-normal;
  }

  :which(Plain) {
    font-family: $font-family-mono;
    overflow: auto;
    white-space: pre;
  }

  :which(Crop) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :which(Right) {
    text-align: right;
  }

  :which(Left) {
    text-align: left;
  }

  :which(Center) {
    text-align: center;
  }

  :which(Bold) {
    font-weight: bold;
  }

  :which(Italic) {
    font-style: italic;
  }
}
