:model(InLine) {

  :has(LtR) {
    display: flex;
    flex-wrap: wrap;

    //TODO Check "Negative margins" solution (1)
    margin-left: size(-1);
  }

  :which(Indented) {
    margin-left: size();
  }

  :which(Indented-x) {
    margin-left: size(2);
  }

  :has(RtL) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    //TODO Check "Negative margins" solution (2)
    margin-right: size(-1);

    :which(Indented) {
      margin-right: size();
    }

    :which(Indented-x) {
      margin-right: size(2);
    }
  }

  :which(Indented),
  :which(Indented-x) {
    display: inline-block;
    vertical-align: top;

    //TODO Check "Negative margins" solution (3)
    //&:first-child {
    //  margin-left: 0;
    //}
    //
    //&:last-child {
    //  margin-right: 0;
    //}
  }
}
