$card-border-color: $border-default !default;
$card-border-active-color: $border-hovered !default;
$card-shadow-color: $shadow-default !default;

:module(Card) {
  position: relative;
  @include stroke($card-border-color);

  &:modifier(Header) {
    @include radius(top);
  }

  &:modifier(Footer) {
    top: -$thin;
    @include radius(bottom);
  }

  &:not(:modifier(Header)):not(:modifier(Footer)) {
    @include radius;
  }

  &:modifier(Shadow) {
    @include stroke($card-border-color, $shadow: $card-shadow-color);
  }
}

:module(Card) {

  &:modifier(Hover) {
    transition: box-shadow $animated;

    &:hover {
      @include stroke($card-border-active-color);
    }

    &:modifier(Shadow) {

      &:hover {
        @include stroke($card-border-active-color, $shadow: $card-shadow-color);
      }
    }
  }
}
