$card-background: color(white) !default;
$card-border-color: $border-default !default;
$card-border-muted-color: $border-muted !default;
$card-border-active-color: $border-hovered !default;
$card-shadow-color: $shadow-default !default;

:model(Card) {
  @include stroke($card-border-color);
  @include radius;
  background-color: $card-background;

  &:which(Shadow) {
    @include stroke($card-border-color, $shadow: $card-shadow-color);
  }

  &:which(Hover) {
    @include stroke($card-border-muted-color);
    transition: box-shadow $animated;

    &:hover {
      @include stroke($card-border-active-color);
    }

    &:which(Shadow) {
      @include stroke($card-border-muted-color, $shadow: $card-shadow-color);

      &:hover {
        @include stroke($card-border-active-color, $shadow: $card-shadow-color);
      }
    }
  }
}
