:model(Block) {

  :which(Wide) {
    width: 100%;
    display: inline-block;
  }

  :which(Overflow) {
    height: size(7);
    max-height: size(80);
    min-height: size(3); //TODO https://code.google.com/p/chromium/issues/detail?id=94583
    overflow: hidden;
    resize: vertical;

    &:hover:focus {
      overflow-y: auto;
    }
  }

  :which(Header) {
    @include radius(bottom, 0);
    @include radius(top);
  }

  :which(Footer) {
    position: relative;
    top: -$thin;
    @include radius(bottom);
    @include radius(top, 0);
  }

  :which(Indented) {
    margin-top: size();
  }

  :which(Indented-x) {
    margin-top: size(2);
  }

  :has(Indent) {
    display: block;
    height: size();
  }

  :has(Indent-x) {
    display: block;
    height: size(2);
  }
}

[class] {
  box-sizing: border-box;
}

[tabindex] {
  outline: initial;
}

@if (map-get($m, debug)) { @import "debug"; }
