:module(Block) {

  &:modifier(Wide) {
    width: 100%;
    display: inline-block;
  }

  &:modifier(Overflow) {
    height: size(7);
    max-height: size(80);
    min-height: size(3);
    resize: vertical;

    &:hover:focus {
      overflow-y: scroll;
    }
  }

  &:modifier(Header) {
    @include radius(bottom, 0);
    @include radius(top);
  }

  &:modifier(Footer) {
    position: relative;
    top: -$thin;
    @include radius(bottom);
    @include radius(top, 0);
  }

  :modifier(Indented) {
    margin-top: size();
  }

  :modifier(Indented-x) {
    margin-top: size(2);
  }

  :component(Indent) {
    display: block;
    height: size();
  }

  :component(Indent-x) {
    display: block;
    height: size(2);
  }
}

[class] {
  box-sizing: border-box;
}

[tabindex] {
  outline: initial;
}

@if (map-get($m, debug)) { @import "debug"; }
